# UniSpy Stack Environment Variables

# PostgreSQL Database Configuration
POSTGRES_USER=unispy
POSTGRES_PASSWORD=CHANGEME_ASAP
POSTGRES_DB=unispy

# Redis Configuration
REDIS_PASSWORD=CHANGEME_ASAP

# Web Service Host & Port
WEB_BIND_IP=0.0.0.0
WEB_PORT=80